<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="./jqui/jquery-ui.css" rel="stylesheet">
    <script src="./jqui/external/jquery/jquery.js"></script>
    <script src="./jqui/jquery-ui.js"></script>



</head>
<body>

<main id="container" class="container">
    <section class="page account-page" id="reg">
        <header class="header">
            <h2 class="title">详细信息</h2>
        </header>
        <section class="section form" id="reg">
            <form name="" method="" enctype="" id="login"></form>
            <!--昵称-->
            <div class="form-item accounts">
                <input class="" type="text" name="nickname" placeholder="请输入您的昵称"/>
            </div>
            <!--邮箱-->
            <div class="form-item">
                <input class="" type="email" name="email" placeholder="请输入您的邮箱"><br>
            </div>
            <!--收货地址-->
            <div class="form-item">
                <input class="" type="text" name="location" placeholder="请输入您的收货地址"><br>
            </div>
            <button id="register" onclick="" class="form-item btn">确认信息</button><br>
        </section>
        <footer class="footer">
            <p class="desc">
                <span>点击“确认信息”，即表示您同意并愿意遵守小宇<a href="">用户协议</a> 和<a href="">隐私政策</a> </span>
            </p>
        </footer>
    </section>
</main>

</body>
</html>